@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #1b262c;
  --secondary-color: #0c344e;
  --tertiary-color: #3282b8;
  --neutral-color: #bbe1fa;
  --text-color: #ffffff;
  --gradient-color: linear-gradient(135deg, #3abef9, #3572ef, #050c9c);
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: var(--primary-color);
}
body header {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
}
body header h1 {
  margin: 0;
}
body header nav {
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
}
body header nav div {
  display: flex;
  align-items: center;
}
body header nav div div {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: double 5px transparent;
  background-image: linear-gradient(white, white), linear-gradient(135deg, #3abef9, #3572ef, #050c9c);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
body header nav div div img {
  width: 40px;
  height: 40px;
}
body header nav div h1 {
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 10px;
  width: 10em;
}
body header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 60%;
  box-sizing: border-box;
  justify-content: right;
  align-items: center;
}
body header nav ul > li {
  box-sizing: border-box;
  width: 13em;
  height: 5em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body header nav ul > li a {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--neutral-color);
  text-decoration: none;
}
body header nav ul > li a:hover {
  color: var(--tertiary-color);
}
body header nav ul #Beranda a {
  position: relative;
  color: var(--neutral-color);
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
body header nav ul #Beranda a:hover {
  background-color: rgba(0, 191, 255, 0.2);
}
body header nav ul #Beranda a::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 3px;
  background: var(--gradient-color);
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
          mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}
body header nav ul .dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body header nav ul .dropdown .dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  height: 20em;
  list-style: none;
  padding: 10px 0;
  box-sizing: border-box;
  margin: 0;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
body header nav ul .dropdown .dropdown-menu li a {
  padding: 10px 20px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.2s;
}
body header nav ul .dropdown .dropdown-menu li a:hover {
  color: var(--tertiary-color);
}
body header nav ul .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
body header nav ul .dropdown i {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
  rotate: 0deg;
}
body header .Hero-Section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
body header .Hero-Section > div:first-child {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  color: var(--text-color);
  padding: 20px;
  box-sizing: border-box;
}
body header .Hero-Section > div:first-child h2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}
body header .Hero-Section > div:first-child h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}
body header .Hero-Section > div:first-child p {
  color: var(--neutral-color);
}
body header .Hero-Section > div:first-child .Social-Media {
  display: flex;
  gap: 20px;
}
body header .Hero-Section > div:first-child .Social-Media > i {
  font-size: 1.8rem;
  width: 50px;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s;
}
body header .Hero-Section > div:first-child .Social-Media > i:hover {
  color: var(--tertiary-color);
}
body header .Hero-Section #audio-controller {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  position: absolute;
  z-index: 30;
  bottom: 5%;
  right: 5%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: white;
  padding: 10px 12px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
body header .Hero-Section #audio-controller .spinning-disc {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 8s linear infinite;
  background-color: black;
}
body header .Hero-Section #audio-controller .spinning-disc img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body header .Hero-Section #audio-controller .now-playing p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
body header .Hero-Section #audio-controller .now-playing h3 {
  margin: 0;
  font-size: 18px;
  color: #000;
}
body header .Hero-Section audio {
  position: absolute;
  bottom: 10%;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 20;
}
body header .Hero-Section > div:last-child {
  height: 100%;
  width: 100%;
  position: relative;
}
body header .Hero-Section > div:last-child img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
body header .Hero-Section > div:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgb(12, 52, 78) 100%);
  pointer-events: none;
}
body .scroll {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.3s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
body main {
  height: auto;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main > section#Tentang {
  padding: 40px;
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}
body main > section#Tentang h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin: 20px 0;
}
body main > section#Tentang article {
  color: var(--secondary-color);
  width: 80%;
}
body main > section#Tentang article p {
  font-size: 1.2rem;
  font-weight: 250;
  margin: 0;
  color: var(--neutral-color);
}
body main > section#Sambutan {
  position: relative;
  padding: 40px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--secondary-color);
}
body main > section#Sambutan h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--neutral-color);
  margin: 0;
}
body main > section#Sambutan hr {
  width: 150px;
  border: 2px solid;
  -o-border-image: var(--gradient-color) 2;
     border-image: var(--gradient-color) 2;
  margin: 10px 0;
}
body main > section#Sambutan .Sambutan-Section {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  width: 67%;
  box-sizing: border-box;
}
body main > section#Sambutan .Sambutan-Section div {
  width: 20em;
  height: 23em;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: var(--text-color);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
body main > section#Sambutan .Sambutan-Section div h2 {
  position: absolute;
  bottom: 50px;
  color: var(--primary-color);
  width: 100%;
  margin: 0 auto;
  font-size: 1.2rem;
  z-index: 1;
  text-align: center;
}
body main > section#Sambutan .Sambutan-Section div hr {
  position: absolute;
  bottom: 40px;
  color: var(--primary-color);
  width: 80%;
  margin: 0 10%;
  z-index: 1;
}
body main > section#Sambutan .Sambutan-Section div h3 {
  position: absolute;
  bottom: 15px;
  color: var(--primary-color);
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 450;
  z-index: 1;
  text-align: center;
}
body main > section#Sambutan .Sambutan-Section div div {
  position: absolute;
  width: 100%;
}
body main > section#Sambutan .Sambutan-Section div div img {
  width: 80%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
body main > section#Sambutan .Sambutan-Section div div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--text-color) 95%);
  pointer-events: none;
}
body main > section#Sambutan .Sambutan-Section article {
  color: var(--primary-color);
  width: 60%;
}
body main > section#Sambutan .Sambutan-Section article p {
  font-size: 1.2rem;
  font-weight: 250;
  margin: 0;
  color: var(--text-color);
}
body main > section#Sambutan .Sambutan-Section article button {
  background: var(--gradient-color);
  color: var(--text-color);
  font-size: 0.6rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  cursor: pointer;
  margin-top: 10px;
}
body main > section#Sambutan .Sambutan-Section article button:hover {
  background: var(--gradient-color);
}
body main > section#Sambutan .Sambutan-Section article button a {
  text-decoration: none;
  color: var(--text-color);
  padding: 1px 5px;
  display: block;
}
body main > section#Kegiatan {
  padding: 40px;
  width: 100%;
  height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: var(--gradient-color);
  background-color: white;
  border-radius: 40px;
}
body main > section#Kegiatan h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--primary-color);
  margin-bottom: 0;
}
body main > section#Kegiatan hr {
  width: 150px;
  border: 2px solid;
  -o-border-image: var(--gradient-color) 2;
     border-image: var(--gradient-color) 2;
}
body main > section#Kegiatan #Kegiatan-Cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  margin-top: 20px;
  justify-items: center;
  gap: 20px;
  color: var(--primary-color);
}
body main > section#Kegiatan #Kegiatan-Cards div {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 100px 20px 20px 20px;
  border-radius: 10px;
  height: 20em;
  width: 25em;
  background-color: var(--primary-color);
  color: var(--text-color);
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 2px 4px 9px -2px rgba(0, 0, 0, 0.75);
}
body main > section#Kegiatan #Kegiatan-Cards div h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}
body main > section#Kegiatan #Kegiatan-Cards div h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: var(--neutral-color);
}
body main > section#Kegiatan #Kegiatan-Cards div p {
  font-size: 1rem;
  font-weight: 250;
  margin: 0;
}
body main > section#Kegiatan #Kegiatan-Cards div a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1rem;
  font-weight: 200;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  width: 70%;
}
body main > section#Kegiatan #Kegiatan-Cards div a i {
  margin-left: 10px;
  font-size: 1.7rem;
}
body main > section#Kegiatan #Kegiatan-Cards div a:hover {
  background-image: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}
body main > section#Kegiatan #Kegiatan-Cards div::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
body main > section#Kegiatan #Kegiatan-Cards div > * {
  position: relative;
  z-index: 1;
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(1) {
  background-image: url("/src/image/perdana.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-in-out;
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(1):hover {
  box-shadow: 0 0 0 4px var(--tertiary-color);
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(2) {
  background-image: url("/src/image/ultah.JPG");
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-in-out;
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(2):hover {
  box-shadow: 0 0 0 4px var(--tertiary-color);
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(3) {
  background-image: url("/src/image/paskah.JPG");
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-in-out;
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(3):hover {
  box-shadow: 0 0 0 4px var(--tertiary-color);
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(4) {
  background-image: url("/src/image/lcp.png");
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-in-out;
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(4):hover {
  box-shadow: 0 0 0 4px var(--tertiary-color);
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(5) {
  background-image: url("/src/image/makrab.JPG");
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-in-out;
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(5):hover {
  box-shadow: 0 0 0 4px var(--tertiary-color);
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(6) {
  background-image: url("/src/image/show.png");
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-in-out;
}
body main > section#Kegiatan #Kegiatan-Cards div:nth-of-type(6):hover {
  box-shadow: 0 0 0 4px var(--tertiary-color);
}
body main > section#Kegiatan .Lihat-Kegiatan {
  text-decoration: none;
  background-image: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 40px;
  border: none;
}
body main > section#Mars {
  position: relative;
  padding: 40px;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
body main > section#Mars h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--neutral-color);
  margin: 0;
}
body main > section#Mars hr {
  width: 150px;
  border: 2px solid;
  -o-border-image: var(--gradient-color) 2;
     border-image: var(--gradient-color) 2;
  margin: 10px 0;
}
body footer {
  width: 100%;
  height: 50vh;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  overflow: hidden;
}
body footer hr {
  width: 99%;
  border: 2px solid;
  -o-border-image: var(--gradient-color) 2;
     border-image: var(--gradient-color) 2;
  margin: 50px 0;
}
body footer .Footer-Section {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
body footer .Footer-Section div:first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  align-items: center;
  justify-content: center;
}
body footer .Footer-Section div:first-child div {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: double 5px transparent;
  background-image: linear-gradient(white, white), linear-gradient(135deg, #3abef9, #3572ef, #050c9c);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
body footer .Footer-Section div:first-child div img {
  width: 90px;
  height: 90px;
}
body footer .Footer-Section div:first-child h1 {
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 10px;
  width: 10em;
  text-align: center;
}
body footer .Footer-Section > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin-left: 20em;
}
body footer .Footer-Section > div:last-child h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--neutral-color);
  margin: 0;
}
body footer .Footer-Section > div:last-child table {
  width: 100%;
  color: var(--neutral-color);
}
body footer .Footer-Section > div:last-child table tr td {
  font-size: 1rem;
  font-weight: 250;
  margin: 0;
  color: white;
}
body footer .Footer-Section > div:last-child table tr td p {
  font-size: 1rem;
  font-weight: 250;
  margin: 10px;
}
body footer .Footer-Section > div:last-child div {
  display: flex;
  gap: 20px;
  align-items: center;
}
body footer .Footer-Section > div:last-child div i {
  font-size: 1.8rem;
  width: 50px;
  color: var(--neutral-color);
  cursor: pointer;
  transition: 0.3s;
}
body footer .Footer-Section > div:last-child div i:hover {
  color: var(--tertiary-color);
}
body footer .Footer-End {
  color: white;
  font-size: 1rem;
  font-weight: 250;
  margin-top: 50px;
}/*# sourceMappingURL=main.css.map */